doctype html
html(lang="en")
	head
		title Cogni Demo
	body
		form(action="/transactions")
			p
				| If only one amount given, it will be searched for exactly. If the minimum is less than
				| the maximum, they will be swapped.

			label(for="minAmount") Minimum Amount&nbsp;
			input(type="number", name="minAmount", min="0", max="500", step="0.01", value="0")
			br

			label(for="maxAmount") Maximum Amount&nbsp;
			input(type="number", name="maxAmount", min="0", max="500", step="0.01", value="500")
			br

			label(for="category") Category&nbsp;
			select(name="category", multiple)
				each category in categories
					option(value=category.id, selected=category.id==='') #{category.name}
			br

			label(for="year") Year&nbsp;
			select(name="year", multiple)
				each year in years
					option(value=year.id, selected=year.id==='') #{year.name}
			br

			label(for="month") Month&nbsp;
			select(name="month", multiple)
				each month in months
					option(value=month.id, selected=month.id==='') #{month.name}
			br

			label(for="day") Day&nbsp;
			select(name="day", multiple)
				each day in days
					option(value=day.id, selected=day.id==='') #{day.name}
			br

			label(for="dayOfWeek") Day of the Week&nbsp;
			select(name="dayOfWeek", multiple)
				each day in daysOfWeek
					option(value=day.id, selected=day.id==='') #{day.name}
			br

			input(type="Submit")
