doctype html
html(lang="en")
	head
		title Cogni Demo
	body
		a(href="/") Back to search page
		if stats && transactions && transactions.length
			p Average Amount: $#{stats.averageAmount}
			p Minimum Amount: $#{stats.minAmount}
			p Maximum Amount: $#{stats.maxAmount}
			table
				thead
					tr
						each header in headers
							th= header
				tbody
					each transaction in transactions
						tr
							each displayProp in displayProps
								td #{transaction[displayProp]}
		else
			p No results for that search
